


   {% block titre %}{% endblock %}

   {% block subtitle %}
       <div class="row">
       <div class="col-md-2">
       <h5 style=" ">Identifiant Partie {{Partie.id }}</h5></div>
       <div class="col-md-2"> Date de debut du jeu:<time datetime="Partie.createdAt|date('Y-m-d H:i:s')  ">{{ Partie.createdAt|date('d/m/Y H:i')  }}</time></div>
       <div class="col-md-2">Manche : {{ Partie.manche }}</div>
       <div class="col-md-2">Tour : {{ Partie.tour }}</div>
       </div>

       <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">

                    <div id="objectif">
                        {% for objecti in objectifs %}
                            <div  style="display:inline-block; position: relative">
                                {% if objecti.ja != 0 %}
                                    {% for i in 1..objecti.ja %}
                                        <p> {{ objecti.points }} </p>
                                    {% endfor %}
                                {% else %}
                                    <p>0</p>
                                {% endif %}
                                {% if objecti.jeton == 'ja' %}
                                    <p style="width:6rem; height:10rem; display:inline-block;"><img class="image1" src="{{ asset('assets/images/')}}{{ objecti.images }}"><img class="jeton" src="{{ asset('assets/images/jeton.png')}}"></p>
                                {% elseif objecti.jeton == 'j'%}
                                    <p ><img class="image1" src="{{ asset('assets/images/')}}{{ objecti.images }}"><img class="jeton" src="{{ asset('assets/images/jeton.png')}}"></p>
                                {% elseif objecti.jeton == 'autre' %}
                                    {#<img class="image1" src="{{ asset('assets/images/')}}{{ objecti.images }}">#}
                                    <div class="jeton">
                                        <img src="{{ asset('assets/images/jeton.png')}}">
                                    </div>

                                {% endif %}
                                {% if objecti.j != 0 %}{% for i in 1..carte.j %}
                                    <p >{{ objecti.points }}</p>
                                {% endfor %}
                                {% else %}
                                    <p >0</p>
                                {% endif %}
                            </div>
                   {# <span style="display:inline;">objectifs{{objecti.id}}</span>#}
                        {% endfor %}
                     </div>
                </div>

       </div>
                <br/>
               {# <div id="objectif">
                <p>Cartes écartées:{{ carte[Partie.carteecarte].id }}
                    <img src="{{ asset('assets/images/')}}{{  carte[Partie.carteecarte].img }}" alt="Example" />
                </p></div>

                <div id="objectif"><p>Mains joueurs 1:
                {% for parti in Partie.mainJ1 %}
                     <span style ="display:inline;">cartes{{carte[parti].id }}</span>
                    <img src="{{ asset('assets/images/')}}{{  carte[parti].img }}" alt="Example" />
                {% endfor %}</p></div>
                <br/>
                <p>Mains joueurs 2:
                {% for parti2 in Partie.mainJ2 %}
                    <span style="display:inline;">cartes{{carte[parti2].id }}</span>
                {% endfor %}</p>
                <br/>
                <div id="pioche">
                <p>Pioche:
                {% for parti2 in Partie.pioche %}
                <span style="display:inline;">cartes{{carte[parti2].id }}</span>
                    <img style="position:absolute; height: 40vw" src="{{ asset('assets/images/')}}{{  carte[parti2].img }}" alt="Example" />
                {% endfor %}</p>
                    <br/></div>
                <p>Actions:
                    {% for acti in Partie.ActionJ1 %}
                        {{ acti.images }}
                    {% endfor %}</p>
                <br/>

                    {% if users|length > 0 %}
                <ul>
                    {% for user in users %}
                        <li>{{ user.username|e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p>Tours:{{ Partie.tour }}</p>
            </div>
        </div>
    </div>

#}
       <div class="row">

           <div class="col-md-10">
                <div class="row">
                     <div class="col-md-7"></div>

                     <div class="col-md-5">
                        <div  style=" display:inline-block;">
                            <span><h3>Pioche:</h3></span>
                            {# <span>Partie : {{ partie.nom }}</span>#}
                            <img class="image1" src="{{ asset('assets/images/carte2_2.png')}}">
                        </div>
                     </div>

                </div>


            {#{% block content %}#}
                <div class="row" id="jeu2">
                    <div class="col-md-12" id="actions">

                     </div>
                    <div id="texte_action" class="col-md-6 jumbotron" style="text-align:center;">

                     {% if choix_cadeau != 0 %}
                        <h1>Cadeau</h1>
                             <p>Choissisez une carte de votre adversaire à placer sur votre plateau</p>
                             <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                                {% for choix in choix_cadeau %}
                                    <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ choix.nom }}
                                     <input type="radio" value="{{ choix.id }}" name="carte_cadeau_choisie">
                                    </span>
                                {% endfor %}
                                <br><input type="submit" class="btn btn-primary" value="Valider action">
                             </form>
                     {% endif %}

                     {% if choix_paire != 0 %}
                     <h1>Concurrence</h1>
                         <p>Choissisez une paire l'autre sera attribuée à votre adversaire</p>
                            <form method="post" action="{{ path('afficher_partie', {'image': Partie.image }) }}">
                       {% for choix in choix_paire %}
                           {% if choix.paire == 1 %}
                               <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ choix.nom }}</span>
                           {% endif %}
                       {% endfor %}
                       <input type="hidden" value="p1" name="choix_paire">
                       <input type="submit" value="Paire1" class="btn btn-primary">
                   </form>
                   <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                       {% for choix in choix_paire %}
                           {% if choix.paire == 2 %}
                               <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ choix.nom }}</span>
                           {% endif %}
                       {% endfor %}
                       <input type="hidden" value="p2" name="choix_paire">
                       <input type="submit" value="Paire 2" class="btn btn-primary">
                   </form>
               {% endif %}

               {% if action_choisie == 'dissimulation' %}
                   <p>Choissisez la carte à dissimuler</p>
               {% elseif action_choisie == 'disparition' %}
                   <p>Choissisez 2 cartes </p>
               {% elseif action_choisie == 'cadeau' %}
                   <p>Choissisez 3 cartes </p>
               {% elseif action_choisie == 'concurrence' %}
                   <p>Choissisez 4 cartes</p>
               {% endif %}

               {% if message_fin != null %}
                   {% if message_fin == 'Aucun vainqueur' %}
                       <p>{{ message_fin }}</p>
                       <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                           <input type="submit" value="Passer à la manche suivante" name="manche_suivante" class="btn btn-primary">
                       </form>
                   {% else %}
                       <p>{{ message_fin }}</p>
                       <a href="#">Retour à votre profil</a>
                   {% endif %}
               {% endif %}

           </div>

       </div>

       {#<div class="row">
           <div class="col-md-6">
               {% if action_dispo != null %}
                   <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">

                           <input type="hidden" value="{{ Partie.id }}" name="id_partie">


                              {# {% for key,value in actions %}
                                   <label class="action"><input type="radio" name="action" value="{{ key }}"><img src="{{ asset('assets/images/')}}{{ value.image }}"></label>
                               {% endfor %}#}

                       {#    <input type="submit" class="btn btn-primary" value="Valider action">

                   </form>
               {% else %}
                   <p>Vous n'avez pas la main, vous ne pouvez pas accèder à vos actions</p>
               {% endif %}
               <span>Carte dissimulée : {{ carte_dissimulee }} </span><br>
               <span>Cartes disparues :
                   {% for carte in cartes_disparues %}
                       {{ carte }}
                   {% endfor %}
                </span><br>
           </div>
       </div>
       <div class="row">
       <div id="main" class="col-8" style="text-align:center;">
               {% if action_choisie=='dissimulation' %}
                   <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                       {% for carte in main %}
                           <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                               <input type="radio" value="{{ carte.id }}" name="carte_dissimulee_selectionnee">
                            </span>
                       {% endfor %}
                       <input type="submit" class="btn btn-primary" value="Valider">
                   </form>
               {% elseif action_choisie=='disparition' %}
                   <div id="disparition">
                       <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                           {% for carte in main %}
                               <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                                   <input class="max2" type="checkbox" name="cartes_disparues[]" value="{{ carte.id }}"/>
                            </span>
                           {% endfor %}
                           <input type="submit" class="btn btn-primary" value="Valider">
                       </form>
                   </div>
               {% elseif action_choisie=='cadeau' %}
                   <div id="cadeau">
                       <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                           {% for carte in main %}
                               <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                                   <input class="max2" type="checkbox" name="cartes_cadeau[]" value="{{ carte.id }}"/>
                            </span>
                           {% endfor %}
                           <input type="submit" class="btn btn-primary" value="Valider">
                       </form>
                   </div>
               {% elseif action_choisie=='concurrence' %}
                   <div id="concurrence">
                       <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                           {% for carte in main %}
                               <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                                   <p>Paire 1 :</p><input class="max2" type="checkbox" name="paire1_concurrences[]" value="{{ carte.id }}"/>
                                    <p>Paire 2 :</p><input class="max2" type="checkbox" name="paire2_concurrences[]" value="{{ carte.id }}"/>
                                </span>
                           {% endfor %}
                           <input type="submit" class="btn btn-primary" value="Valider">
                       </form>

                   </div>
               {% else %}
                   {% for carte in main %}
                       <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}<img class="image1" src="{{ asset('assets/images/jeton.png')}}"></span>
                   {% endfor %}
               {% endif %}

           </div>
           <div class="col-2">

           </div>
       </div>
           </div>
           <div class="col-md-2">



           </div>
       </div>
{% endblock %}#}


<div class="row">
    <div class="col-2" id="actions_dispos">

        {% for action in action_dispo %}

            {% if action.nom == 'dissimulation' %}
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    <div class="form-group">
                        <input type="hidden" value="dissimulation" name="action">
                        {% if action.dispo == 0 or action.etat == 1 or choix_paire != 0 or choix_cadeau !=0 %}
                            <input style="width: 7rem;" type="submit" class="btn btn-primary disabled" value="{{ action.nom }}" disabled>
                        {% elseif action.dispo == 1  %}
                            <input style="width: 7rem;" type="submit" class="btn btn-primary" value="{{ action.nom }}">
                        {% endif %}
                    </div>
                </form>
            {% elseif action.nom == 'disparition' %}
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    <div class="form-group">
                        <input type="hidden" value="disparition" name="action">
                        {% if action.dispo == 0 or action.etat == 1 or choix_paire != 0 or choix_cadeau !=0 %}
                            <input style="width: 7rem;"  class="btn btn-success disabled" value="{{ action.nom }}" disabled>
                        {% elseif action.dispo == 1 %}
                            <input style="width: 7rem;" type="submit" class="btn btn-success" value="{{ action.nom }}">
                        {% endif %}
                    </div>
                </form>
            {% elseif action.nom == 'cadeau' %}
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    <div class="form-group">
                        <input type="hidden" value="cadeau" name="action">
                        {% if action.dispo == 0 or action.etat == 1 or choix_paire != 0 or choix_cadeau !=0 %}
                            <input style="width: 7rem;"  class="btn btn-warning disabled" value="{{ action.nom }}" disabled>
                        {% elseif action.dispo == 1 %}
                            <input style="width: 7rem;" type="submit" class="btn btn-warning" value="{{ action.nom }}">
                        {% endif %}
                    </div>
                </form>
            {% elseif action.nom == 'concurrence' %}
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    <div class="form-group">
                        <input type="hidden" value="concurrence" name="action">
                        {% if action.dispo == 0 or action.etat == 1 or choix_paire != 0 or choix_cadeau !=0 %}
                            <input style="width: 7rem;"  class="btn btn-danger disabled" value="{{ action.nom }}" disabled>
                        {% elseif action.dispo == 1 %}
                            <input style="width: 7rem;" type="submit" class="btn btn-danger" value="{{ action.nom }}">
                        {% endif %}
                    </div>
                </form>
            {% endif %}

        {% endfor %}


        {% if carte_dissimulee %}
            <span>Carte dissimulée : </span>
            <span class="card text-white bg-dark mb-3" style="width:2.5rem; height:3.5rem; display:inline-block;">{{ carte_dissimulee }}</span><br>
        {% endif %}

        {% if cartes_disparues %}
            <span>Cartes disparues :</span>
            {% for carte in cartes_disparues %}
                <span class="card text-white bg-dark mb-3" style="display: inline-block; width:2.5rem; height:3.5rem;">{{ carte }}</span>
            {% endfor %}
        {% endif %}

    </div>
    <div id="main" class="col-8" style="text-align:center;">

        {% if action_choisie=='dissimulation' %}
            <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                {% for carte in main %}
                    <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                        <input type="radio" id="check" value="{{ carte.id }}" name="carte_dissimulee_selectionnee">
                            </span>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Valider">
            </form>
        {% elseif action_choisie=='disparition' %}
            <div id="disparition">
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    {% for carte in main %}
                        <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                            <input class="max2" id="check" type="checkbox" name="cartes_disparues[]" value="{{ carte.id }}"/>
                            </span>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        {% elseif action_choisie=='cadeau' %}
            <div id="cadeau">
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    {% for carte in main %}
                        <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                            <input class="max2" id="check"  type="checkbox" name="cartes_cadeau[]" value="{{ carte.id }}"/>
                            </span>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>
            </div>
        {% elseif action_choisie=='concurrence' %}
            <div id="concurrence">
                <form method="post" action="{{ path('afficher_partie', {'id': Partie.id }) }}">
                    {% for carte in main %}
                        <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}
                            <p>Paire 1 :</p><input id="check"  class="max2" type="checkbox" name="paire1_concurrences[]" value="{{ carte.id }}"/>
                                    <p>Paire 2 :</p><input id="check" class="max2" type="checkbox" name="paire2_concurrences[]" value="{{ carte.id }}"/>
                                </span>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Valider">
                </form>

            </div>
        {% else %}
            {% for carte in main %}
                <span class="card text-white bg-dark mb-3" style="width:6rem; height:10rem; display:inline-block;">{{ carte.nom }}</span>
            {% endfor %}
        {% endif %}

    </div>
    <div class="col-2" id="actions_adverses">
        <p>Actions adverses</p>
        {% for action in action_dispo_adverse %}
            <ul class="list-group list-group-flush">
                {% if action.etat ==1 %}
                    <li class="list-group-item disabled">{{ action.nom }}</li>
                {% elseif  action.etat ==0 %}
                    <li class="list-group-item  ">{{ action.nom }}</li>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}